@media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 50px 40px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .teacher-card {
    margin-bottom: 30px;
  }
  .teacher-card img {
    width: 100%;
    
  }
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }

  .hover1:hover {
    transform: scale(0.8);
    transition: 0.3s, transform 0.3s;
  }
  .hover2:hover {
    transform: scale(1.1);
    transition: 0.3s, transform 0.3s;
  }

  .rounded-circle-icon {
    width: 50px; /* Adjust size as needed */
    height:50px; /* Adjust size as needed */
    background-color:rgba(235, 51, 106, 0.8);/* Adjust background color */
    border-radius: 50%; /* Creates a rounded circle */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Adjust icon size */
  }