{% extends 'navbar.html' %}


{% block content %}

 
    <div
      id="carouselExampleDark"
      class="carousel carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img
            src="https://img.freepik.com/premium-photo/group-diverse-graduating-students_53876-92583.jpg?w=2000"
            class="d-block w-100"
            alt="..."
          />
          <div
            style="margin-bottom: 23%"
            class="carousel-caption d-none d-md-block"
          >
            <h1
              class="text-danger"
              style="font-family: Georgia, 'Times New Roman', Times, serif"
            >
              WELCOME TO OUR UNIVERCITY
            </h1>
            <p class="text-secondary">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
              quia!
            </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="https://img.freepik.com/free-photo/close-up-graduation-certificate_23-2148928764.jpg?t=st=1711354817~exp=1711358417~hmac=b35538f22bd79ac344c63d86381c46af5dda37d0fa9580c3beb01e930413fb1c&w=2000"
            class="d-block w-100"
            alt="loading. . ."
          />
          <div style="margin-bottom: 25%;margin-right: 30%;" class="carousel-caption d-none d-md-block">
            <h1 class="text-danger">WITH BEST FACULTY</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Voluptatem odit similique iste placeat maiores error?
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <section style="margin-top: 5%; padding: 5%">
      <div class="row">
        <div class="col-lg-6">
          <div class="container mt-5 ms-5">
            <h1
              class="text-center"
              style="
                font-family: Georgia, 'Times New Roman', Times, serif;
                margin-top: 30%;
              "
            >
              ABOUT US
            </h1>
            <hr class="container" />
            <p class="text-dark">
              “ We are an outstanding university dolor sit amet, consectetur
              adipisicing elit, sed do eiusmod excepteur... ”
            </p>
            <p class="text-secondary">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut voluptate velit esse cillum dolore eu fugiat nulla
              pariatur. Excepteur cupidatat non proident, sunt in culpa qui
              officia deserunt mollit est laborum sed ut perspiciatis unde omnis
              iste natus doloremque.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <img
            style="height: auto; width: 600px; margin-left: 10%"
            src="https://img.freepik.com/premium-photo/close-up-man-wearing-hat_1048944-23799360.jpg?w=996"
            alt="loading..."
          />
        </div>
      </div>
    </section>

    <section>
      <div
        style="
          background-image: linear-gradient(
              rgba(255, 247, 247, 0.938),
              rgba(236, 228, 228, 0.842)
            ),
            url(https://websitedemos.net/university-04/wp-content/uploads/sites/193/2018/05/background-01-free-img.jpg);
          background-attachment: fixed;
          height: 500px;
        "
      >
        <h3 style="padding-top: 100px;" class="text-center ">WHY CHOOSE US?</h3>
        <hr class="container" />
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
          vero.
        </p>

        <div class="container" style="height: 300px;">
          <div class="row ">
            <div class="col shadow">
              <h3 class="text-center">CERTIFIEDD TEACHERS</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta assumenda
                perspiciatis consectetur, quas ipsam iure aliquid. Dolorem possimus
                impedit repudiandae.
              </p>
            </div>
            <div class="col ms-3 shadow">
              <h3 class="text-center">CERTIFIEDD TEACHERS</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta assumenda
                perspiciatis consectetur, quas ipsam iure aliquid. Dolorem possimus
                impedit repudiandae.
              </p>
            </div>
            <div class="col ms-3  shadow">
              <h3 class="text-center">CERTIFIEDD TEACHERS</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta assumenda
                perspiciatis consectetur, quas ipsam iure aliquid. Dolorem possimus
                impedit repudiandae.
              </p>
            </div>
          </div>
        </div>
    </section>
    

    <section
      style="
        background-color: #000;
        color: #fff;
        padding: 50px;
        font-family: Arial, sans-serif;
      "
    >
    
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <h1>Sierra University</h1>
            <p>
              “Education Is Not Preparation for Life; Education Is Life Itself.”
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation.
            </p>
          </div>
          <div class="col-md-3">
            <h3>Courses</h3>
            <ul class="list-unstyled">
              <li>Business Management</li>
              <li>Arts Humanities</li>
              <li>Mathematics for Teaching</li>
              <li>Life Sciences @ Medicine</li>
              <li>Natural Sciences</li>
              <li>Master of Business</li>
              <li>Applied Mathematics</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Contact Info</h3>
            <p>Address<br />123 Fifth Avenue, New York, NY<br />10160, USA</p>
            <p>Phone<br />+1 910-626-85255</p>
            <p>Email<br />contact@university.com</p>
          </div>
        </div>
        <br><br>
      </div>

      <hr>
      <footer style="text-align: center;" class="footer">
        <div class="container">
          <p>Copyright &copy; 2024 University</p>
          <p>Powered by University</p>
        </div>
      </footer>
    </section>
  

{% endblock %}
